.container-fluid.full-height.main-background.no-margin
	.row.semi-transparent.full-height
		.col-xs-12.col-sm-8.col-md-6.col-lg-4.padding-top
			.white.small-padding.semi-circle
				%h1.no-margin.bold.text-primary DesoftCo
				%p.no-margin Únete a nosotros!
				.top-space
				=render "devise/registrations/new"