%nav
  .navbar-toggleable-xs.collapse#bd-main-nav{:"aria-expanded" => :false}
    =link_to "DeSoft-Co", root_path, class:"navbar-brand"
    %ul.nav.navbar-nav.float-xs-right
      -if user_signed_in?
        %li.nav-item
          /#notifications.shadow
          =link_to "notifications", class:"nav-link", id:"notification" do
            =#current_user.unviewed_notifications_count
            %i.fa.fa-bell.fa-1x{:"aria-hidden" => :true}
            Notificaciones
            %span.tag.tag-danger 1
          %li.nav-item
            =link_to "friendships", class:"nav-link" do
              %i.fa.fa-users.fa-1x{:"aria-hidden" => :true}
              Solicitudes
          %li.nav-item.dropdown
            #config-account.nav-link.dropdown-toggle.cover.rounded{:"data-toggle" => :dropdown, :"aria-haspopup" => :true, :"aria-expanded" => :false, style:"background-image: url(#{current_user.avatar.url(:thumb)});width:35px;height:35px;"}
            %ul.dropdown-menu.dropdown-menu-right{:"aria-labelledby" => :"config-account"}
              %li.dropdown-item
                =link_to "Ver mi perfil", current_user, class:"dropdown-item"
              %li.dropdown-item
                =link_to "Cerrar sesión", destroy_user_session_path, method: :delete,class:"dropdown-item"

                =#link_to current_user.username, current_user, id:"config-account", class:"nav-link dropdown-toggle", :"data-toggle" => :dropdown, :"aria-haspopup" => :true, :"aria-expanded" => :false
