%li.list-group-item
	%table
		%tr
			%td
				=circle_img notification.item.user.avatar.url(:thumb),30
			%td.padding-left
				A
				%b
					=link_to notification.item.user.name, notification.item.user
			%td
				Le gusta tu
				=notification.item.item_type
			%td.padding-left
				=link_to notification_path(id: notification.id, notification:{viewed: true}), method: :put do
					%i.fa.fa-check.fa-lg.text-success{:"aria-hidden" => :true}
