.row.center-xs
	.col-sx-12.col-sm-10.col-md-8.col-lg-8
		.box
			.card
				%h4.card-header Notificaciones
				.card-block
					%ul.list-group
						-if @notifications.empty?
							%p.card-text.text-muted No tienes nuevas notificaciones
						=render_notifications @notifications
