$colors : (
	red: #F44336,
	pink: #E91E63,
	blue: #2C3E50,
	yellow: #FFEB3B,
	grey: #D7DADB,
	dark-grey: #666,
	light-blue: #2196F3,
	white: #fff,
	indigo: #673AB7,
	black: #000
);

@each $color_name, $color in $colors{
	.#{$color-name}{
		background-color: $color;
	}
	.#{$color-name}-text{
		color: $color;
	}
}
