html, body{
	height: 100%;
}
.semi-transparent{
	background-color: rgba(0, 0, 0, 0.3);
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.full-height{
	height: 100%;
}
.right-space{
	margin-right: 1.5em;
}
.no-margin{
	margin: 0;
}
.medium{
	font-size: 1.2em;
}
.padding-cover{
	padding-top: 10em;
	padding-bottom: 10em;
}
.padding-cover-medium{
	padding-bottom: 10em;
}
.large-padding{
	padding: 10px 15px;
}
.big-padding{
	padding: 2em 5em;
}
.padding-bottom{
	padding-bottom: 1em;
}
.padding-top{
	padding-top: 1em;
}
.padding-left{
	padding-left: 1em;
}
.no-padding-left{
	padding-left: 0 !important;
}
.small-padding{
	padding: 1em 1em 1em 1em;
}
.border{
	border: 1px solid #c5d0d5;
}
.border-top{
	border-top: 1px solid #c5d0d5;
}
.border-bottom{
	border-bottom:1px solid #c5d0d5;
}
.border-top-min{
	border-top: 0.5px solid #CBCBCB;
}
.full-width{
	width: 100%;
}
.top-space{
	margin-top: 1em;
}
.remove-decoration{
	text-decoration: none;
}
.remove-bullet-points{
	list-style-type: none;
	margin:0;
}
.underline{
	text-decoration: underline;
}
.text-italics{
	font-style: italic;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-space{
	letter-spacing: 1px;
}
.circle{
	border-radius: 3%;
}
.semi-circle{
	border-radius: 1%;
}
#config-account{
	margin-top: 3px;
	&:hover{
		cursor: pointer;
	}
}
.content-post{
	padding: 1em;
	background: white;
	border: 1px solid #c9d5d5;
	border-bottom: 0px;
}
#user-avatar{
	position: absolute;
	top: 10em;
	left: 1em;
}
.btn-outline-black{
	color: #ccc;
	background-image: none;
	background-color: transparent;
	border-color: #ccc !important;

	&:hover{
		background-color: rgba(0, 0, 0, 0.4);
	}
}
.zone-0{
	margin-top: 1em;
	padding: 0.5em;
}
.my-badge{
	position: absolute;
	top: 0px;
	left: -8px;
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 50% !important;
}
.no-line:link, .no-line:visited{
	text-decoration:none !important;
}
.hover-white:hover{
	color: white;
}
